<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create</h1>
    <form action="/create" method = "post">
        <input name="email" class="input" type="text">
        <label for="">email</label><br>
        <input name="password" class="input2" type="text">
        <label for="">password</label><br>
        <input name="username" class="input3" type="text">
        <label for="">username</label><br>
        <button class="button" type="button">submit</button>
    </form>
    
    <script src="/create/create.js"></script>
</body>
</html>